@use '@/styles/_mixins.scss' as *;

.example-section {
    @include flex-column;
    gap: 1rem;

    width: 100%;
    min-width: 0;
    max-width: 600px;
}

.hint {
    @include text-wo-margin(var(--m-font-size), 300);

    color: var(--secondary-font-color);
}

.highlighted-link {
    color: var(--accent-font-color);
}
