@use '@/styles/_mixins.scss' as *;

.accent-link {
    @include flex-center;
    gap: 0.5rem;

    width: 100%;
    height: 100%;
    max-height: 46px;

    background-color: var(--dim-accent-color);

    border: 1px var(--accent-border-color) solid;

    border-radius: 8px;

    padding: 0.625rem 1.125rem;

    box-sizing: border-box;

    color: var(--font-color);

    font-size: 1rem;
    font-weight: 600;

    transition: background-color var(--d-transition-dur) ease;

    &:hover {
        background-color: var(--accent-hover-color);
    }
}
.icon {
    @include flex-center;
}
