@use '@/styles/_mixins.scss' as *;

//

.footer {
    @include flex-y-center;

    justify-content: space-between;

    width: 100%;

    border-top: 1px var(--border-color) solid;

    padding: 1.25rem 2rem;

    box-sizing: border-box;
}
