@use '@/styles/_mixins.scss' as *;

//

.header {
    @include flex-y-center;

    justify-content: space-between;

    height: 100%;

    max-height: 64px;

    border-bottom: 1px var(--border-color) solid;

    padding: 0 2rem;

    box-sizing: border-box;
}

.nav-block {
    @include flex-y-center;

    gap: 0.75rem;
}
