@use '@/styles/_mixins.scss' as *;

//

.header {
    @include flex-y-center;

    justify-content: space-between;

    height: 100%;

    max-height: 64px;

    border-bottom: 1px var(--border-color) solid;

    padding: 0 2rem;
    box-sizing: border-box;
}

.logo-link {
    @include text-wo-margin(1.125rem, 600);
    color: var(--font-color);
    font-family: var(--font-geist-mono);
}

.nav-panel {
    @include flex-y-center;

    gap: 0.25rem;
}
