@use '@/styles/_mixins.scss' as *;

html,
body {
    height: 100%;
}

body {
    margin: 0;

    background-color: var(--background-color);

    font-family: var(--font-geist-sans);

    color: var(--font-color);
}

/* global styles */
a {
    text-decoration: none;
}
pre {
    margin: 0;

    overflow-x: auto;

    @include with-scrollbar(var(--border-color), var(--dim-accent-color), thin);
}
code {
    font-family: var(--font-geist-mono);
}

:root {
    --background-color: #0d121c;

    --font-color: #ffffff;
    --secondary-font-color: #929fa5;
    --accent-font-color: #84ba64;
    --icon-color: #d9e1e6;

    --border-color: #2c3437;
    --accent-border-color: #417e384d;

    /* :active, :focus, :hover colors */
    --hover-bg-color: #2c3437;

    --accent-color: #418e38;
    --dim-accent-color: #418e381a;
    --accent-hover-color: #417e3833;

    /* sizes. "d" means "default". "m" means "medium" */

    --m-font-size: 0.95rem;

    --d-transition-dur: 0.16s;

    --button-radius: 4px;
}
