@use '@/styles/_variables.scss' as *;

.hero-box {
    display: flex;
    justify-content: space-between;

    gap: 3.5rem;

    width: 100%;
    max-width: 1200px;
    height: 100%;

    padding-top: 3em;

    padding-bottom: 3em;
    box-sizing: border-box;
}

@media (max-width: map-get($media-breakpoints, large)) {
    .hero-box {
        flex-direction: column;

        align-items: center;
    }
}
