@use '@/styles/_mixins.scss' as *;

.tool-button {
    @include flex-center;
    gap: 0.375rem;

    height: 100%;
    max-height: 28px;

    background-color: var(--neutral-bg-color);

    border: 0;
    border-radius: 6px;

    padding: 0.25rem 0.5rem;
    box-sizing: border-box;

    color: var(--secondary-font-color);
    font-size: var(--m-font-size);

    transition: background-color 0.1s ease;

    cursor: pointer;

    &:hover {
        background-color: var(--light-neutral-bg-color);
    }
}
