@use '@/styles/_mixins.scss' as *;

.code-box {
    @include flex-column;

    width: 100%;

    border: 1px var(--border-color) solid;

    border-radius: 6px;
}
.tab-list {
    display: flex;
    gap: 0.25rem;

    height: 100%;
    max-height: 46px;

    padding: 0 1rem;
    box-sizing: border-box;

    overflow: auto;

    @include with-scrollbar();
    scrollbar-gutter: stable both-edges;
}

.tab {
    height: 100%;

    background-color: transparent;

    border: 0;

    border-radius: 8px;

    color: var(--font-color);

    font-size: 1rem;

    font-weight: 500;

    white-space: nowrap;

    cursor: pointer;

    &.active {
        color: var(--accent-font-color);
    }
}

.info-block {
    @include flex-y-center;
    justify-content: space-between;

    width: 100%;

    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
