@use '@/styles/_mixins.scss' as *;
@use '@/styles/_variables.scss' as *;

.home-page {
    @include flex-column;
    align-items: center;

    width: 100%;
    height: 100%;

    padding-left: 6em;
    padding-right: 6em;
    box-sizing: border-box;
}

@media (max-width: map-get($media-breakpoints, small)) {
    .home-page {
        padding-left: 2em;
        padding-right: 2em;
    }
}
