@use '@/styles/_mixins.scss' as *;

.text-section {
    @include flex-column;

    gap: 2rem;

    width: 100%;
    max-width: 400px;
    height: 100%;
}

.text-block {
    @include flex-column;

    gap: 1rem;
}
.title {
    @include text-wo-margin(3rem, 600);
    color: transparent;

    background-image: linear-gradient(
        to right,
        var(--font-color),
        var(--secondary-font-color)
    );
    background-clip: text;
}
.description {
    @include text-wo-margin(1.125rem, 400);
}
