@mixin flex-center {
    display: flex;

    justify-content: center;

    align-items: center;
}

@mixin flex-y-center {
    display: flex;

    align-items: center;
}

@mixin flex-x-center {
    display: flex;

    justify-content: center;
}

@mixin flex-column {
    display: flex;

    flex-direction: column;
}

@mixin text-wo-margin($font-size: 1rem, $font-weight: 400) {
    margin: 0;

    font-size: $font-size;

    font-weight: $font-weight;
}

@mixin with-scrollbar(
    $thumb-color: var(--dim-accent-color),
    $track-color: var(--background-color),
    $width: thin
) {
    scrollbar-width: $width;

    scrollbar-color: $thumb-color $track-color;

    &::-webkit-scrollbar-thumb {
        color: $thumb-color;
    }

    &::-webkit-scrollbar-track {
        color: $track-color;
    }
}
